<div class="container">
<h1> Contact Us, We Love to hear from our customers!</h1> 
</div> 

<div class="container">
  <!--Add a form for users to fill out -->
  <!-- syntax for comments in html -->
  
 <form> 
    <legend>
    <div class="mb-3">
        <label for="First name" class="form-label">First Name</label>
        <input type="text" class="form-control" id="formFirstNameInput" placeholder="">
      </div>
      <div class="mb-3">
        <label for="Last name" class="form-label"> Last Name</label>
        <input type="text" class="form-control" id="formLastNameInput" placeholder="">
      </div> 
      <div class="mb-3">
        <label for="Email" class="form-label"> Email</label>
        <input type="email" class="form-control" id="formLastNameInput" placeholder="">
     </div> 
    </legend>

  </form>
 

</div>
